@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('fonts/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#bloc_page
{
        font-family: "montserrat_alternatesregular";
}

body
{
    font-family: "montserrat_alternatesregular",Impact, 'Arial Narrow Bold', sans-serif;
    color:white;
    background-color: #eeb9e9;
}

header 
{
    font-family: "montserrat_alternatesregular";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    background: url("images/background.jpg") fixed no-repeat ;
    background-size: 100%;
    background-attachment: scroll;
    
}


#logo
{
    padding-top: 10px;
    width: 200px;
    height: 200px;
    align-items: baseline;
 }

#titre1
{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    color: salmon;
    border: 3px inset blueviolet;
    box-shadow: 3px 3px 20px 1px blueviolet;
    text-shadow:   3px 3px 1.5px blueviolet ;
  }

#menu
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 4px outset blueviolet ;
    box-shadow: 3px 3px 20px 1px blueviolet ;
    font-size: x-large;
}

li a
{
  margin-right: 80px;
  border: 2px inset rgb(223, 35, 129) ;
  box-shadow: 2px 2px 30px 1px rgb(223, 35, 129);
}





#banniere
{
 display: flex;
 padding-left: 300px;
 margin-top: 30px;
 position: relative;
 text-align:center;
 background:rgb(86, 5, 102);
 
} 


#banniere h2
{
 display: flex;
 flex-wrap: wrap;   
 position: absolute;
 top: 70%;
 left: 325px;
 font-size: 50px;
 background:rgb(239, 130, 243);

}